@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu");
*{
  font-family: "Ubuntu", sans-serif;
}
.wholebarber{
    background-color: #eee2dc;
    height: 100%;
  }
  .slider {
  
    /* margin-top: -5%; */
    position: relative;
    height: 100vh;
     /* display: flex;  */
    /* justify-content: center;
    align-items: center; */ 
  }
  
  .image {
  
    width: 100%;
    height: 450px;
  
  } 
  
  .right-arrow {
    position: absolute;
    top: 30%;
    right: 32px;
    font-size: 3rem;
    color: #edc7b7;
    z-index: 5;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
  }
  
  
  .left-arrow {
    position: absolute;
    top: 30%;
    left: 32px;
    font-size: 3rem;
    color: #edc7b7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    width: 100%;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
  }
  
  
  
  .MuiTabs-indicator{
  background: #edc7b7 !important;
  
  }
  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-6.MuiGrid-grid-md-4.css-13i4rnv-MuiGrid-root {
  margin-top: 3%;
  
  }
  
  .asghar{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  /* /* align-items: center !important; */
  justify-content:center !important;
  }
  .card {
  
  flex-basis: calc(60% / 3);
  margin-top: 4%;
  margin-right: 1%;
  
  }
  .css-1i3akvl{
    display: flex  !important;
    flex-direction: column !important;
      align-items: center !important;
    
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{
    background-color: #edc7b7!important;
  }
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    width: 145% !important;
    margin-top: 10%;
    color: #123c69 !important;
  }
  .css-1mafocu-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: 
  rgba(180, 54, 54, 0.35)!important;
  }

  .MuiCardContent-root{
  
  
  background-color: #edc7b7bb;
  border-bottom: 2px dashed #ac3b61;
  border-radius: 4px;
  }
  .Mui-selected {
  /* background-color: !important; */
  color:  #ac3b61!important;
  font-size: 24px !important;
  /* background-color: #ac3b6118 !important; */
  }
.ac{
  background-color: none !important;
  margin-left: 15% !important;
  margin-top: -15% !important;
}

.css-jcn4dz-MuiBadge-badge {
  background-color: #edc7b7 !important;
}
  
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
  /* color: #123c69; */
  font-size: 18px;
}



  
  .MuiTabs-flexContainer{
  background-color:#edc7b7da; 
  width: 100%;
  height: 70px;

  }
  

.css-1r5wa48-MuiList-root {
  background-color: #edc7b7;
  margin-left: 3% !important;
  max-width: 520px !important;

}
.css-1qrvzyw-MuiList-root{
  /* margin-bottom: 300px !important; */
  padding-bottom: 0px !important;
}
.mty{
  margin-bottom: 80px !important;

}
.comnt{
  margin-left: 40px!;
}
  
  /* .count{
  font-size: 15px;
  width: 80%;
  height: 50%;
  color: #120c1e;
  background-color: red;
  margin-left: 16%;
  color:red;
  margin-bottom: 7rem;
  padding-bottom: 3px;
  border:solid;
  border-color: #120c1e;
  border-width: 1px;
  border-radius: 100%;
  z-index: 3;
  position: relative;
  } */
  .er{
  font-size: 15px;
  /* margin-left: -50%; */
  margin-top: 3%;
  
  }
  .bt{
  padding: 2%;
  width: 30%;
  color: #edc7b7!important;
  background-color: #ac3b61;
  text-align: center;
  margin-top: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.705);
  /* margin-left: 29%; */
  font-family: "Ubuntu", sans-serif !important;
  font-size: 22PX !important;
  border-radius: 10px;
  
  
  }
.bt17{
  font-family: "Ubuntu", sans-serif !important;
  color: #123c69 !important;

  margin-left: 80%;
  margin-top: 5%;

  }
.hbt{
  margin-left: 13%;
  font-size: 12px !important;
}
.hinp{
  margin-left: 15%;
  background-color: #edc7b7;
  border: .5px dashed #ac3b61;
  border-radius: 5px;

}
.hdbtn0{
  margin-top: 3%;
  display: flex;
  margin-bottom: 3%;

}
.hdbtn{
  margin-left: 15%;
  font-size: 14px !important;
  padding: .5%;
}
.hdbtn1{
  margin-left: 2%;
  font-size: 14px !important;
  background-color: #ac3b61 !important;
  color: #edc7b7 !important;
  padding: .5%;
  border-radius: 5px;
}
.ab{ 
  font-family: "Ubuntu", sans-serif !important;
}
.css-1t6e9jv-MuiCardActions-root{
  background-color: #edc7b7b7 !important;
  font-size: 16px !important;
  

}


.css-1s7dekj-MuiTypography-root{
  font-family: "Ubuntu", sans-serif !important;

}
.css-10hburv-MuiTypography-root {
  font-family: "Ubuntu", sans-serif !important;
  color: #123c69;

}
.css-1phucj-MuiTypography-root {
  color: #ac3b61 !important;
}


  .bt:hover{
  background-color: rgba(252, 203, 199, 0.685)  !important;
  color: #ac3b61 !important;
  }
  .bt1984{
  display: flex;
  
  justify-content: center
  
  }
  .ti{
  display: flex;
  justify-content: center;
  }
  .bt2{
  padding: 1.5rem;
  width: 40rem;
  color: #ffecee;
  background-color: #120c1e;
  text-align: center;
  margin-top: 5%;
  margin-left: 29%;
  font-family: "Ubuntu", sans-serif !important;
  font-size: 20PX;
  
  
  }
  .c1{

    font-family: "Ubuntu", sans-serif !important;

  }
  .c2{

    font-family: "Ubuntu", sans-serif !important;
    font-size: 20px !important;

  }

  
  @media only screen and (max-width:500px){
  .ti1{
    font-size: 20px !important;
  
    height: 40px !important;
  
  }
  .c1{
    font-size: 18px !important;
  }
  .dis{
    font-size: 18px !important;
    margin-top: 25% !important;
    margin-bottom: 0px !important;
    width: 32% !important;
    height: 20px !important;
    margin-left: 1% !important;
    padding-bottom: 34px !important;
  }
  .dis1{
    font-size: 18px !important;
    width: 35% !important;
    height: 300px !important;
  
  }
  .imdis{
    height: 250px !important;
    margin-bottom: -30px !important;
  }
  .bx{
    font-size: 18px !important;
  }
  .lg{
    margin-top: -100rem !important;
    margin-bottom:25rem !important;
    height: 130px !important;
    width: 130px !important;
  }

  
  
  
  }