.py-5{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  height: 790px;
  justify-content: center;
}
.backgroundprofile{
  background-size: cover;
  display: flex;
}
.rowContainer{
  justify-content: center;
  
}
.row{
  display: flex!important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;

}

.salam{
  background-color: #eee2dc !important;
  width: 700px !important;
}

.MDBCard{
  width: 700px !important;
  height: 250px !important;
  background-color:  #eee2dc !important;

}
.p-0{
  width: 10px !important;
}
.divpro{
  font-family: 'Roboto' !important;
  font-style: normal !important;
}
.MDBCard{
  margin-bottom: 2%;
  border-radius: 10px;
}
.user{
  color: #edc7b7;
  height: 50px;
  width: 150px;
  text-align: center;
  padding: 10px;
  background-color: #123c69 !important;
  justify-content: center;
}

.mbs-4{
  color: #ac3b61;
}
.personal-form-input{
  border-radius: 0.5rem ;
  background-color: #edc7b7 ;
}
.update{
  background-color:#ac3b61 !important ;
  border-radius: 5px;
  border-style:none;
  margin: auto;
  width: 100px;
  justify-content:center !important;
  color: #edc7b7;
} 
