.py-5{
  font-family: 'Roboto' !important;
  font-style: normal !important;
  color: #123c69;
  height: 790px;
  justify-content: center;
}
.backgroundprofile{
  background-size: cover;
  display: flex;
}
.rowContainer{
  justify-content: center;
  
}
.row{
  display: flex!important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  align-content: center !important;
  justify-content: center !important;
  align-items: center !important;

}
.divpro{
  font-size: 30px;
}

.salam{
  background-color: #eee2dc !important;
  width: 700px !important;
  color:#123c69 !important;
  /* background-color: rgb(18,60,105, 0.6) !important; */
}

.MDBCard{
  width: 700px !important;
  height: 250px !important;
  background-color:  #eee2dc !important;
  border: #ac3b61 !important;

}
.p-0{
  width: 10px !important;
}
.divpro{
  font-family: 'Roboto' !important;
  font-style: normal !important;
}
.MDBCard{
  margin-bottom: 2%;
  border-radius: 10px;
}
.user{
  /* color: #edc7b7; */
  height: 50px;
  margin-left: -2.8rem;
  width: 700px !important;
  text-align: center;
  padding: 10px;
  background-color: rgb(172,59,97) !important;
  justify-content: center;
}


/* #123c69  */
.picy{
  margin-left: 250px;
  margin-top: -130px;
}
.mbs-4{
  color: #ac3b61;
}
.personal-form-input{
  border-radius: 0.5rem ;
  background-color: #edc7b7 ;
}
.update{
  background-color:rgb(172,59,97)  !important ;
  border-radius: 5px;
  border-style:none;
  margin: auto;
  width: 130px;
  height: 35px;
  justify-content:center !important;
  color:#123c69;
} 

.profilelength{
  height: 2.2rem;
  border-radius: 0.5rem;
}
.axeprofile{
  justify-content: center !important;
  margin-top: 120px;

}
.picentry{
  margin-top: -20rem;
  margin-left: -2rem;
}
