
.btn {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 100px;
    background-color: #8c73e6;
    border-color: #c4c4c4;
    border-width: 1px;
    border-radius: 5px;
    color: #c4c4c4;
    font-size: 20px;
    padding: 5%;
    margin-bottom: 10px;

    /* width: 150px; */
    display: flex;
    justify-content: center;
    /* margin-right: 80px;
    margin-left: 50%;
    margin-bottom: 20px; */
  }
  .item-holder{
    display: flex;
    justify-content: center;
    ;
    flex:34%;
  }