
.btn {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
    background-color: #8c73e6;
    border-color: #c4c4c4;
    border-width: 1px;
    border-radius: 5px;
    color: #c4c4c4;
    font-size: 20px;
    padding: 5%;
    width: 150px;
    margin-right: 80px;
    margin-left: 50%;
    margin-bottom: 20px;
  }