
/*body{
  background-image: url("../images/image.png");
  background-repeat: repeat;
  background-size: cover;
}*/
/*.App{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content:center ;
  font-size: 13px;
  height:115vh;
  margin-top:-70px;

  }*/


.auth-form-container2,.signup-form{
  
  display: flex;
  flex-direction: column;
  color: #eebfbf;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  max-height: 700px;

}



.auth-form-container2{
  padding: 1rem;
  border: 1px none rgb(235, 231, 231);
  background-color: rgba(6, 0, 11, 0.35);
  border-radius: 10px;
  margin: 0.1rem;
  margin-top: 90px;
  color: rgb(244, 167, 167);
  font-family: Arial, Helvetica, sans-serif;
  
}
label2{
  

  text-align: left;
  margin-bottom: -1px;
  padding: 1px;
  padding-right: 10rem;
  font-size: 15px;
  font-style:italic;
  /*font-family: cursive;*/
  font-family: Arial, Helvetica, sans-serif;

  

}
label3{
  margin-top:-5px;
  font-size: 13px;
  /*font-family: cursive;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #eebfbf;

  

}
label4{
  
  font-size: 13px;
  /*font-family: cursive;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #eebfbf;

  

}
p{
  text-align: center;
  margin-top:-3px;    
  font-size: 13px;
  /*font-family: cursive;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #eebfbf;
}
p1{
  text-align: center;    
  font-size: 13px;
  /*font-family: cursive;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #eebfbf;
}

input{
  margin: 0.5rem 0;
  padding:3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border: none;
  background-color: rgb(244, 183, 183);
  padding: 3px;
  border-radius: 10px;
  color: #0b070c;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Link-btn2{
  background: none;
  color: white;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}