.gradient-custom {
    /* fallback for old browsers */
    background: #382b49 !important;
    width: 100%;

    }


.shopcartcolor{
    background-color: #ffecee;
}

.shopcartbutton{
    background-color: rgb(56,43,73,0.7);
}
.shopcartbutton:hover{
    background-color: rgb(56,43,73,0.8); 
}
.shopcartbutton:focus,
.shopcartbutton:active {
    background-color: rgb(56,43,73,0.8);
}

.shopcarticon{
    font-size: 1.75em !important;
    size : 1.75em !important;
    color :#382b49;
}