.gradient-custom {
    /* fallback for old browsers */
    background: #EEE2DC !important;
    width: 100%;
    color: #ac3b61;

    }


.shopcartcolor{
    background-color: #edc7b7;
}

.shopcartbutton{
    background-color: #123c69 ;
}
.shopcartbutton:hover{
    background-color: #123c69c7 ;
     
}
.shopcartbutton:focus,
.shopcartbutton:active {
    background-color: #edc7b7;
}

.shopcarticon{
    font-size: 1.75em !important;
    size : 1.75em !important;
    color : #123c69;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    width: "30%" !important;
}
